In [1]:
import csv
import pandas as pd

path = "/home/aidana/small.csv"
#creating new lists
messages = []
emails = []
urls = []
#updating parameter to exclude first row
i = 0
with open(path, encoding="utf8", errors='ignore') as file:
    reader = csv.reader(file)
    for row in reader:
        #excluding first row
        if (i == 0):
            print(i)
        
        else:
            #excluding emails from atlas-tlt
            if(row[1] != 'atlas-tlt@illinois.edu'):
                #not including strings after the '>' character
                head, sep, tail = row[0].partition('>')
                #including only the id of the URL
                key = row[2].split('/')[-1]


                #appending appropriate lists
                messages.append(head)
                emails.append(row[1])
                urls.append(key)
            
        i = i + 1
            
        
#making pandas from messages and urls lists
df = pd.DataFrame(list(zip(messages, urls)), 
               columns =['messages', 'urls']) 

#concatenating messages with the same url
df = df.groupby(['urls'])['messages'].apply(','.join).reset_index()

0

In [2]:
df

            urls                                           messages
0  FVG-43674-773  There are way too many, and one class is at Pa...
1  FZR-88171-786  Hi guys,\n\nHow can I add the iClicker registr...
2  SCA-74697-292  Hello,\nPlease find attached the Moodle upload...
3  VZB-97127-932  Hi Larry,\n\nOk thanks for setting this up. Un...
4  YIL-97771-329  Excellent, thanks!  I'll get the word out on t...